<script lang="ts">
    export let feedbacks: string[];
    export let socket: WebSocket;
    const available_feedbacks = ["agree", "disagree", "faster", "slower"];

    function send_feedback(message: string) {
        socket.send(JSON.stringify({ category: "feedback", message }));
    }
</script>

<div id="feedbacks">
    {#each feedbacks as message}
        <div>{message}</div>
    {:else}
        <div>No feedback</div>
    {/each}
</div>
<div id="available-feedbacks">
    {#each available_feedbacks as f}
        <button on:click={(_) => send_feedback(f)}>{f}</button>
    {/each}
</div>

<style>
    #feedbacks {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        overflow: hidden;
        padding: 1rem 2rem;
    }

    #available-feedbacks {
        display: flex;
        justify-content: space-evenly;
    }
</style>
