<script lang="ts">
	export let username: string;
	export let username_chosen: boolean;
	export let username_input_ref;

	function validate() {
		username_chosen = true;
	}

	function keypress(event) {
		if (event.keyCode === 13) {
			validate();
		}
	}
</script>

<div id="container">
	<label for="username_input">Choose a name :</label>
	<input bind:value={username} on:keypress={keypress} id="username_input" bind:this={username_input_ref} />
	<button on:click={validate}>Get in</button>
</div>

<style>
	#container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 100%;
		width: 100%;
	}
</style>
