<script lang="ts">
    export let speaker_queue: string[];
    export let socket: WebSocket;
    export let current_speaker: boolean;
    export let username: string;
    export let participants: string[];

    function want_to_speak(event) {
        socket.send(JSON.stringify({ message: "want_to_speak" }));
    }

    function done_speaking(event) {
        current_speaker = false;
        socket.send(JSON.stringify({ message: "done_speaking" }));
    }
</script>

<div id="button-container">
    <p>Your username : <b>{username}</b></p>

    {#if current_speaker}
        <button on:click={done_speaking}> Done speaking </button>
    {:else}
        <button on:click={want_to_speak}> Speak next </button>
    {/if}
</div>

<div id="speaker_queue">
    {#if speaker_queue.length > 0}
        <p>Current speaker : <b>{speaker_queue[0]}</b> {#if current_speaker}(you){/if}</p>
    {:else}
        <p>No speaker at the moment</p>
    {/if}
    {#if speaker_queue.length > 1}
        <p>Speaker queue :</p>
        {#each speaker_queue.slice(1) as peer}
            <b>{peer}</b><br />
        {/each}
    {:else}
        <p>Nobody in the queue at the moment</p>
    {/if}

    {#if participants.length > 0}
        <p>Current participants : {participants.join(", ")}</p>
    {/if}
</div>

<style>
    #button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #speaker_queue {
        text-align: center;
    }
</style>
