<script lang="ts">
    import Name from "./components/Name.svelte";
    import Queue from "./components/Queue.svelte";
    import Socket from "./components/Socket.svelte";
    import Stream from "./components/Stream.svelte";
    import { onMount } from "svelte";
    import adapter from "webrtc-adapter";
    import Feedback from "./components/Feedback.svelte";

    let username: string = "";
    let username_chosen: boolean = false;
    let socket: WebSocket;
    let username_input_ref = null;
    let speaker_queue: string[] = [];
    let current_speaker: boolean = false;
    let participants: string[] = [];
    let feedbacks: string[] = [];

    onMount(() => {
        username_input_ref.focus();
    });
</script>

<svelte:head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</svelte:head>

{#if !username_chosen}
    <Name bind:username bind:username_chosen bind:username_input_ref />
{:else}
    <Socket bind:feedbacks bind:participants bind:current_speaker bind:speaker_queue {username} bind:socket />

    <div class="wrapper">
        <div class="col1">
            <div id="stream">
                <Stream {adapter} {username} {current_speaker} />
            </div>
        </div>
        <div class="col2">
            <div id="feedback">
                <Feedback {socket} bind:feedbacks />
            </div>
            <div id="queue">
                <Queue {participants} {username} bind:speaker_queue {socket} bind:current_speaker />
            </div>
        </div>
    </div>
{/if}

<style>
    :global(body) {
        padding: 0;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    #feedback {
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0.5rem;
        background-color: #eeeeee;
    }

    #queue {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0.5rem;
        background-color: #eeeeee;
    }

    @media only screen and (min-width: 768px) {
        .wrapper {
            display: flex;
            flex-direction: row;
            height: 100vh;
        }

        .col1 {
            width: 70vw;
            margin: auto;
        }

        .col2 {
            width: 30vw;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #stream {
            max-height: 100vh;
        }

        #feedback {
            width: 100%;
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        #queue {
            width: 100%;
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }
</style>
